{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Django Calculator App</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/calculatorapp">Django Calculator App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#instructions">Instructions</a>
            </li>
          </ul>
          
        </div>
      </nav>

      <div class="container-fluid" style="margin-bottom: 20rem;">
        {% if error %}
          <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          {% endif %}
              {% if result %}
              <div class="row">
                <div class="col-md-6" style="margin: 0 auto;">
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{q}} = {{ans}}</strong>
                  <br><br><img src = "{{ pic }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            </div>
            {% endif %}
          <div class="row">
              <div class="col-md-6" style="margin: 1rem auto 0  auto;">
                <div class="card">
                    <div class="card-body">
                        <form method="GET" action="{% url 'submitquery'%}">
                            <div class="form-group">
                                <input type="text" class="form-control" name="query" id="query">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="submit" class="btn btn-success" style="display: block;margin: 0 auto;">

                                </div>
                                <div class="col-6">
                                    <input type="reset" class="btn btn-danger" style="display: block;margin: 0 auto;">
    
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <p class="display-4" id="about" name="about" style="text-align: center;">
                    About
                </p>
                <hr>
                <p class="lead" style="text-align: center;">
                    Our Calculator app can perform mathematical operations and not only
                  </p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
              <p class="display-4" id="instructions" name="about" style="text-align: center;">
                  Instructions
              </p>
              <hr>
              <ul class="list-group">
                  <div id="accordion">
                      <div class="card">
                          <div class="card-header" id="headingOne" >
                              <h5 class="mb-0">
                                  <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Mathematical Constants
                                  </button>
                              </h5>
                          </div>

                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                  <li class="list-group-item">Pi (π) — pi ≈ 3,14</li>
                                  <li class="list-group-item">E (e) — exponential constant e ≈ 2,718</li>
                                  <li class="list-group-item">Degree (°) — conversion factor from radians to degrees</li>
                                  <li class="list-group-item">Infinity or inf — a symbol that represents a positive infinite quantity.</li>
                                  <li class="list-group-item">n! — gives the factorial of n.</li>
                                  <li class="list-group-item">Derivative (') — symbolic and numerical derivatives for arguments and parameters</li>
                                  <li class="list-group-item">I (i) — root of -1</li>
                                  <li class="list-group-item">Gamma[z] — the Euler gamma function </li>
                                  <li class="list-group-item">Beta[a,b] — gives the Euler beta function .</li>
                                  <li class="list-group-item">BesselJ[n,z] — gives the Bessel function of the first kind </li>
                                  <li class="list-group-item">DifferentialRoot[lde][x] — gives the holonomic function , specified by the linear differential equation lde[h,x].</li>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingTwo">
                              <h5 class="mb-0">
                                  <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Complex Numbers
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                  <li class="list-group-item">Re[z] gives the real part of the complex number z.</li>
                                  <li class="list-group-item">Im[z] gives the imaginary part of the complex number z.</li>
                                  <li class="list-group-item">Abs — absolute value</li>
                                  <li class="list-group-item">Arg — argument (phase angle in radians)</li>
                                  <li class="list-group-item">Sign — normalized direction ()</li>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                  <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Arithmetic Functions
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                  <li class="list-group-item">Plus (+) — addition of numbers, lists, arrays, or symbolic expressions</li>
                                  <li class="list-group-item">Subtract (-) — subtraction</li>
                                  <li class="list-group-item">Times (*) — multiplication </li>
                                  <li class="list-group-item">Divide (/) — division</li>
                                  <li class="list-group-item">Power (^ or **) — power</li>
                                  <li class="list-group-item">Sqrt — square root</li>
                                  <li class="list-group-item">% — Mod</li>
                                  <li class="list-group-item">( ) — Parentheses</li>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingFour">
                              <h5 class="mb-0">
                                  <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      Numerical Functions
                                  </button>
                              </h5>
                          </div>

                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                              <div class="card-body">
                                  <li class="list-group-item">Min, Max — minimum, maximum of numbers or lists</li>
                                  <li class="list-group-item">RealAbs — absolute value of real numbers</li>
                                  <li class="list-group-item">Abs — absolute value of complex numbers</li>
                                  <li class="list-group-item">Less (<)</li>
                                  <li class="list-group-item">Greater (>)</li>
                                  <li class="list-group-item">LessEqual (<=)</li>
                                  <li class="list-group-item">GreaterEqual (>=)</li>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingFive">
                              <h5 class="mb-0">
                                  <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Elementary Functions
                                  </button>
                              </h5>
                          </div>

                          <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                  <li class="list-group-item">Log — base-e logarithm (Log[b,x] uses base b)</li>
                                  <li class="list-group-item">Log10, Log2 — base-10, base-2 logarithms</li>
                                  <li class="list-group-item">Exp — exponential</li>
                                  <li class="list-group-item">Sin ▪  Cos ▪  Tan ▪ ArcSin ▪ ArcCos ▪ ArcTan — Trigonometric Functions</li>
                                  <li class="list-group-item">Sinh ▪ Cosh ▪ Tanh ▪ ArcSinh ▪ ArcCosh ▪ ArcTanh — Hyperbolic Functions</li>
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header" id="headingSix">
                              <h5 class="mb-0">
                                  <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                      Concepts of calculus
                                  </button>
                              </h5>
                          </div>

                          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                              <div class="card-body">
                                  <li class="list-group-item">Limit[f, x to x*] — gives the limit of f(x).</li>
                                  <li class="list-group-item">Integrate (a to b)(f(x), x) — gives the definite integral</li>
                                  <li class="list-group-item">Integrate(f(x), x) — gives the indefinite integral</li>
                                  <li class="list-group-item">f(x)' or derivate(f(x)) — represents the derivative of a function f of one argument.</li>
                              </div>
                          </div>
                      </div>
                  </div>


              </ul>
            </div>
        </div>

          
      </div>
      
      <div class="container-fluid">
          <div class="row">
              <footer class="fixed-bottom navbar-light" style="background: black;color: white;text-align: center;">
                  <p>Thanks for using our app</p>
              </footer>
          </div>
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>